@import url(../fonts/montserrat/stylesheet.css);

@import url(../fonts/merriweather/stylesheet.css);

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  outline: none !important;
  font-family: "Montserrat";
}

img {
  display: block;
}

body {
  background: #fff;
  font-family: "Montserrat";
  font-weight: 400;
  color: #0C0C0C;
  font-size: 1rem;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.page {
  overflow: hidden;
}

.outer-container {
  max-width: 1656px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1470px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title h2 {
  position: relative;
  font-weight: 700;
  color: #333333;
  font-size: 36px;
  line-height: 1.2;
}

.title h2::after {
  margin-top: 20px;
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background: #E3000F;
}

.title span {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 100px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.05);
}

.btn {
  max-width: 215px;
  width: 100%;
  display: block;
  background: #E3000F;
  border: 1px solid #E3000F;
  color: #FFFFFF;
  text-align: center;
  padding: 16px 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border-radius: 10px;
}

.btn-white {
  background: #fff;
  color: #333333;
}

.header {
  background-color: #F1F1F1;
}

.header-la {
  overflow: hidden;
  z-index: 4;
  position: relative;
  min-height: 1080px;
  background-image: url(../img/Union.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 54px;
  margin-bottom: 240px;
}

.header-menu__list {
  z-index: 5;
}

.header-menu__burger {
  width: 40px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu__burger span {
  width: 100%;
  height: 1px;
  display: block;
}

.header-menu__burger span:first-child {
  background: #000;
}

.header-menu__burger span:last-child {
  background: #E3000F;
}

.header-menu__logo {
  display: block;
  margin-left: 140px;
}

.header-menu__logo img {
  width: 215px;
}

.header-menu__phone {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #FFFFFF;
}

.header-menu__phone span {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 19px;
  margin-right: 10px;
  font-weight: 400;
}

.header-menu__call {
  text-decoration: underline;
  color: #FFFFFF;
  font-size: 14px;
  margin-right: auto;
  display: block;
  text-align: right;
}

.header-side {
  position: absolute;
  width: 35%;
  min-height: 1666px;
  top: 0;
  right: 0;
  background: url(../img/header-side-bg.jpg);
  border-radius: 0 0 0 100px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-side__overlay {
  background-color: rgba(227, 0, 15, 0.8);
  position: relative;
  min-height: 1666px;
  border-radius: 0 0 0 100px;
}

.header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-social {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: scale(-1, -1);
      -ms-transform: scale(-1, -1);
          transform: scale(-1, -1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 270px;
  margin-right: 95px;
}

.header-social__list {
  position: relative;
}

.header-social__links {
  font-size: 14px;
  line-height: 1.2;
  color: #C0C0C0;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-social__links::after {
  content: "";
  display: block;
  position: absolute;
  left: -10px;
  top: 0;
  height: 100%;
  width: 1px;
  background: transparent;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-social__links.social-active {
  color: #000;
}

.header-social__links.social-active::after {
  background: #000;
}

.header-slider {
  max-width: 812px;
  width: 100%;
}

.header-slider__title {
  font-size: 46px;
  line-height: 1.26;
  font-weight: 700;
  font-family: "Merriweather";
  text-transform: uppercase;
}

.header-slider__title span {
  color: #E3000F;
}

.header-slider__title::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: #E3000F;
  margin: 20px 0 30px;
}

.header-slider__text {
  font-size: 16px;
  line-height: 2.25;
  max-width: 705px;
  width: 100%;
  margin-bottom: 50px;
}

.header-slider .slick-list {
  margin-left: -10px;
  margin-right: -10px;
}

.header-slider .slick-slide {
  margin: 0 10px;
}

.header-slider .slick-arrow {
  position: absolute;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -215px;
}

.header-slider .slick-arrow.prev-arrow {
  right: -345px;
}

.header-slider .slick-arrow.next-arrow {
  right: -505px;
}

.header-slider .slick-dots {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -528px;
}

.header-slider .slick-dots button {
  background: none;
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-slider .slick-dots .slick-active button {
  background: #E3000F;
  border: 1px solid #E3000F;
}

.info {
  padding: 70px 0 104px;
  position: relative;
}

.info-title {
  max-width: 565px;
  width: 100%;
  margin-bottom: 30px;
}

.info-title h2 {
  font-size: 36px;
  line-height: 1.2;
  color: #333333;
}

.info-title h2 span {
  color: #E3000F;
}

.info-content {
  max-width: 1225px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-content__arrow {
  width: 3px;
  height: 247px;
  display: block;
  background: #E3000F;
  margin-right: 42px;
}

.info-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-content__text {
  max-width: 670px;
  width: 100%;
}

.info-content__text p {
  font-size: 16px;
  line-height: 2.25;
  font-weight: 400;
  color: #333333;
}

.info-content__text p:first-child {
  margin-bottom: 43px;
}

.info-about {
  z-index: 5;
  position: absolute;
  left: -65px;
  bottom: 213px;
}

.info-about__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-about__link img {
  margin-right: 20px;
  z-index: 5;
}

.info-about__link p {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

.service {
  padding-bottom: 50px;
}

.service-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.service-slider__item {
  overflow: hidden;
  max-width: 338px;
  position: relative;
  width: 100%;
  height: 528px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(rgba(242, 242, 242, 0)));
  background: -o-linear-gradient(top, #F2F2F2 0%, rgba(242, 242, 242, 0) 100%);
  background: linear-gradient(180deg, #F2F2F2 0%, rgba(242, 242, 242, 0) 100%);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 19px 119px;
  text-align: center;
}

.service-slider__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: rgba(227, 0, 15, 0.8);
  opacity: 0;
  -webkit-transition: 0.3;
  -o-transition: 0.3;
  transition: 0.3;
}

.service-slider__item svg {
  z-index: 5;
  margin-bottom: 50px;
  margin-top: 100px;
}

.service-slider__item svg path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #E3000F;
}

.service-slider__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
}

.service-slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 164px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.service-slider__title {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 600;
  color: #333333;
  margin-bottom: 10px;
}

.service-slider__text {
  display: none;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 2.4;
  margin-bottom: 20px;
}

.service-slider__link {
  font-size: 24px;
  line-height: 1.4;
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 150px;
}

.service-slider .slick-list {
  margin-right: -28%;
}

.service-slider .slick-slide {
  margin: 5px 1px;
}

.service-slider .slick-center .service-slider__item {
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.service-slider .slick-center .service-slider__item::after {
  opacity: 1;
}

.service-slider .slick-center .service-slider__bg {
  opacity: 1;
}

.service-slider .slick-center svg {
  margin-top: 0;
}

.service-slider .slick-center svg path {
  fill: #fff;
}

.service-slider .slick-center .service-slider__title {
  color: #FFFFFF;
}

.service-slider .slick-center .service-slider__text {
  display: block;
}

.service-slider .slick-center .service-slider__link {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.service-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  width: 100%;
}

.service-slider .slick-dots li {
  width: 14.2857142857%;
}

.service-slider .slick-dots button {
  width: 100%;
  display: block;
  background: #DFDFDF;
  height: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 0;
  border: none;
}

.service-slider .slick-dots li.slick-active button {
  background: #E3000F;
  border-radius: 1px;
}

@media (max-width: 1540px) {
  .header-la {
    background-position-x: -65px;
  }
}